.cards-list {
  padding: 20px;
}

.album-cards {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
}

.search-form {
  margin: 0px auto;
  min-width: 200px;
  max-width: 600px;
  width: 100%;
}

.search-field {
    width: 100%;
}